@import url(http://fonts.googleapis.com/css?family=Istok+Web:400,700|Lato:900,700);

body {
  font-family: 'Istok Web', sans-serif;
}
span {
   font-family: 'Lato', sans-serif;
   color:rgba(255,0,0,.4);

}
h1 {
   padding-left: 100px;
   padding-top: 100px;
   font-size: 60px;
   color: rgba(0,0,0,.7);
}
p {
   padding-left: 160px;
   padding-right: 550px;
   font-size: 20px;
   color: rgba(0,0,0,.7);
}
